.barters {
    display: flex;
    flex-direction: column;
    font-family: "Raleway";
    padding: 0rem 10rem;
}

.barter {
    background-color: rgb(207, 214, 212);
    border: 5px solid rgb(0, 0, 0);
    padding: 0.7rem;
    margin: 0.5rem 0;
    line-height: 2rem;
    border-radius: 7px;
    font-family: "Raleway";
    margin: 1rem 10rem; 
}
#header{
    font-size: large;
    font-style: italic;
    font-family: "Raleway";
}
.h2, h2{
    text-align: center;
    justify-content: center;
    font-family: "Raleway";
}
#available{
    text-align: center;
    margin: 6rem 10rem;
}
