
body {
  box-sizing:border-box;
margin:0;
padding:0;
}

#main-navbar {
  font-family: "Raleway";
  text-align: center;
  font: 1.15em;
  font-size: large;
  background: rgb(116, 114, 114);
}

#main-navbar ul {
  margin: 0;
  padding: 0;
}

#main-navbar li {
  display: inline-block;
  padding: 14px 35px;
}

#main-navbar li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#main-navbar li a:hover {
  padding-bottom: 3px;
  color: rgb(255, 255, 255);
}
